*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.wrapper{
    width: 65vmin;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background-color:#293447 ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.game-details{
    color:#b8c6dc ;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    background-color:#212837 ;
    display: grid;
    grid-template:  repeat(30/1fr)/repeat(30/1fr);
}